<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.appchief.msa.awesomeplayer">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:name="com.appchief.msa.AppMain"
            android:hardwareAccelerated="true"
            android:supportsRtl="false"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity
                android:name="com.appchief.msa.MainActivity"
                android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|layoutDirection"
                android:label="@string/title_activity_main"
                android:launchMode="singleInstance"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"
                tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name="com.appchief.msa.exoplayerawesome.FullScreenPlayer"
                android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|layoutDirection|keyboard|keyboardHidden|fontScale"
                android:launchMode="singleInstance"
                android:screenOrientation="sensorLandscape"
                tools:ignore="LockedOrientationActivity" />
        <activity android:name="com.appchief.msa.ExpandedControlsActivity" />

        <meta-data
                android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
                android:value="com.appchief.msa.CastOptionsProvider" />
    </application>

</manifest>